body {
  margin: 0;
}

header {
  background: linear-gradient(
    91.9deg,
    rgb(75, 207, 250) 6.3%,
    rgb(25, 159, 249) 98.9%
  );
  margin: auto;
  max-width: 100%;

  text-align: center;
  padding: 20px;
  font-family: 'Newsreader', sans-serif;
}

header img {
  border-radius: 50%;
  border: 2px solid rgb(234, 234, 239);
  padding: 5px;
  margin-top: -5px;
  margin-bottom: 10px;
}

header h1 {
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
}

header h1 span {
  font-style: normal;
  font-size: 25px;
}

header p {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  font-style: italic;
}

header a {
  display: block;
  width: 90px;
  text-decoration: none;
  color: #0a91eb;
  background-color: aliceblue;
  padding: 10px 15px;
  border-radius: 5px;
  font-weight: 700;
  font-style: italic;
  border: 2px solid #0987ef;
  margin-top: 10px;
  margin: auto;
  transition: all 700ms;
}

header a:hover {
  background-color: #000;
  border: none;
}

section {
  background-color: #000;
}

section h2 {
  color: aliceblue;
  text-align: center;
  font-family: 'Newsreader', sans-serif;
  font-size: 35px;
  margin-top: 0;
  padding-top: 29px;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
  border-left: 2px solid #0987ef;
  border-right: 2px solid #0987ef;
  margin: 0 70px;
}

.gallery img {
  width: 400px;
  height: 250px;
  border-radius: 5px;
}

@media (max-width: 1300px) {
  .gallery {
    row-gap: 10px;
    /* margin: auto; */
  }
}

@media (max-width: 500px) {
  .gallery img {
    width: 300px;
    height: 200px;
  }
}

@media (max-width: 600px) {
  .gallery {
    margin: 0 30px;
  }
}
@media (max-width: 400px) {
  .gallery {
    margin: 0px 5px;
  }
}
